@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magic the Gathering: Deck Builder</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on the "Deck Builder" at the top to start building, or click on the "Card Viewer" to search for and look at cards.
        </p>
    </div>
</div>